{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-export-extensions",
    [
      "transform-imports",
      {
          "Utils": {
              "transform": "Utils/${member}",
              "preventFullImport": true,
              "kebabCase": true
          },
          "Mixins": {
              "transform": "Mixins/${member}",
              "preventFullImport": true,
              "kebabCase": true
          },
          "Components": {
              "transform": "Components/${member}",
              "preventFullImport": true,
              "kebabCase": true
          }
      }
    ]
  ]
}
