{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "chrome >= 49"
                    ]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "react-scope-binding",
        "transform-decorators-legacy",
        "add-module-exports",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-export-extensions",
        "transform-class-properties"
    ]
}
