{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions"
                    ]
                }
            }
        ],
        "react"
    ],
    "plugins": [
        "react-scope-binding",
        "transform-decorators-legacy",
        "add-module-exports",
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-export-extensions",
        "transform-class-properties",
        [
            "transform-imports",
            {
                "Utils": {
                    "transform": "Utils/${member}",
                    "preventFullImport": true,
                    "kebabCase": true
                },
                "Mixins": {
                    "transform": "Mixins/${member}",
                    "preventFullImport": true,
                    "kebabCase": true
                },
                "Components": {
                    "transform": "Components/${member}",
                    "preventFullImport": true,
                    "kebabCase": true
                }
            }
        ]
    ]
}
